/* WAR Class: Red */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* MNK Class: Orange */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* WHM Class: white/red */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* BLM Class: Black */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* RDM Class: Red/Gold */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* THF Class: Green */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* PLD Class: white/grey */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* DRK Class: Black/Grey*/
[data-type="WAR"] {
  background-color: aliceblue;
}

/* BST Class: Brown */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* BRD Class: Light Brown */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* RNG Class: Green / Brown */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* SAM Class: Black / Red */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* NIN Class: Black */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* DRG Class: Purple */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* SMN Class: Teal */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* BLU Class: Blue */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* COR Class: Maroon */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* PUP Class: Orange / Gold */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* DNC Class: Red / Brown */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* SCH Class: Brown / Black */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* GEO Class: Orange / White */
[data-type="WAR"] {
  background-color: aliceblue;
}

/* RUN Class: Dark Blue */
[data-type="WAR"] {
  background-color: aliceblue;
}
